.A{
    margin: 0;
    text-align: center;
    margin: 50px;
    background-color: #2EEFF2;
   }
.A h1 {
    color: #2EB1F2 ;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Dancing Script', cursive;
}
.A h2 {
    color: #FFFFFF;
    font-family: 'Satisfy', cursive;
}
